# Xcode
*.xcworkspace
xcuserdata

# OSX
.DS_Store

# Android
bin/
gen/
libs/
obj/
build.xml
local.properties
project.properties
proguard.cfg
proguard-project.txt

# Visual Studio
*.suo
*.ncb
*.sdf
*.opensdf
Debug/
Release/
ipch/

/src/chronotext/lib

/src/chronotext/vc10/lib

/samples/Scalability/vc10/Scalability.vcxproj.user
/src/chronotext/vc10/chronotext.vcxproj.user
